* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    margin: 2%;
    /* text-align: center;
    align-items: normal; */
    
  
  }
  .title-productAdmin{
    background-color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 3%;
 
  }

.logobqac{

  
  width: 20%;
  height: 20%;
}

  .table-header-product td, th{
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content:space-evenly;
    width: auto;
    margin: 3%;
    border: 1px solid;
    border-collapse: collapse; */
  }
  .container-product{
    display: grid;
    gap:10px;
    margin: 1%;
    font-size: 1rem;
    border: 1px solid #FF896E;
    
    
  }
  .columns{
    padding: 10px;
    text-align: center;
    border: 1px solid #FF896E;
    
  }
  .title-header{
    background-color: #FF896E;
  
  }
  .orderWaiter{
    display: flex;
    justify-content: space-around;
    margin: 3% 3% 3% 1%;
    
  }
  .label-order{
    font-size: 1.5rem;
    color:#191919;
  }

  .input-order{
    width: auto;
    height: 40px;
    border: 1px solid grey;
    border-radius: 25px;
    font-size: 1rem;
    padding: 10px;
  }
  .container-order{
    margin: 5% 3% 3% 5%;
    font-size: 1.5rem;

  }