body {
  width: 100%;
  height: auto;
}

#root {
  width: 80%;
}

.container-list-order {
  display: flex;
  flex-direction: column;
  width: auto;
}

.title-viewchef {
  display: flex;
  margin: 1%;
  font-size: 2rem;
  justify-content: center;
}

.order-list {
  border: 3px solid #ff896e;
  background: #fdecb0;
  opacity: 90%;
  margin: 1%;
  font-size: 1.2rem;
  padding: 20px;
}

.containerBox {
  display: flex;
  justify-content: end;
  margin: 10px;
  font-size: 1.5rem;
}

.checkBox {
  width: 10%;
}

.markAsCompleted{
  display: flex;
  margin: 2% 1% 0% 80%;
  background-color: #66cf55;
  border: 2px solid #018001
}
